* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES MAIN */
.nav {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: rgba(161, 161, 161, 0.7176470588);
}
.navbar .nav-link.active.inicio {
  color: white;
}
.navbar .exit {
  color: white;
}
.navbar .logo {
  width: 6em;
  height: 6em;
  border-radius: 10px;
  align-items: center;
}
.navbar .offcanvas {
  background-color: #000000;
}
.navbar .offcanvas-title {
  color: white;
}
.navbar button.btn-close {
  background-color: white;
}
.navbar .navbar-toggler {
  color: rgb(0, 0, 0);
  border-color: rgba(7, 7, 7, 0.37);
  border: solid;
  background-color: rgba(255, 255, 255, 0.37);
}
.navbar .nav-item a {
  color: white;
}

.footer {
  background-color: rgba(161, 161, 161, 0.7176470588);
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.footer .logo {
  width: 6em;
  height: 6em;
  border-radius: 10px;
}
.footer .privacidad {
  display: contents;
}
.footer .privacidad span {
  font-size: x-small;
  opacity: 2;
  color: black;
  cursor: pointer;
}
.footer .footer-redes {
  width: 200px;
  height: 60px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer .footer-redes .img1 {
  width: 100px;
  object-fit: cover;
  flex-grow: 1;
  opacity: 0.7;
  transition: 1s;
  border-radius: 100%;
  box-shadow: 5px 5px 5px 5px;
}
.footer .footer-redes .img1:hover {
  width: 220px;
  height: 65px;
  opacity: 1;
  filter: contrast(105%);
}
.footer .footer-redes .img2 {
  width: 100px;
  object-fit: cover;
  flex-grow: 1;
  opacity: 0.7;
  transition: 1s;
  border-radius: 100%;
  box-shadow: 5px 5px 5px 5px;
}
.footer .footer-redes .img2:hover {
  width: 220px;
  height: 65px;
  opacity: 1;
  filter: contrast(105%);
}
.footer .footer-redes .img3 {
  width: 100px;
  object-fit: cover;
  flex-grow: 1;
  opacity: 0.7;
  transition: 1s;
  border-radius: 100%;
  box-shadow: 5px 5px 5px 5px;
}
.footer .footer-redes .img3:hover {
  width: 220px;
  height: 65px;
  opacity: 1;
  filter: contrast(105%);
}

.index {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: whitesmoke;
}
.index h2 {
  background-color: rgb(66, 66, 66);
  color: whitesmoke;
  padding: 5px;
  gap: 5px;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  border-top: 4px solid rgba(30, 75, 173, 0.753);
  font-weight: bold;
}
.index .presentacion {
  text-align: justify;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  grid-template-areas: "imagen texto" "imagen texto" "imagen texto";
}
.index .imagenindex {
  grid-area: "imagen";
  object-fit: cover;
  width: 400px;
  height: 100%;
  border-radius: 40px;
}
.index .textoinicio {
  grid-area: "texto";
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: justify;
  padding: 10px 10px;
}
.index .marcamessi {
  background-color: #000000;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 45% 53%;
  grid-template-rows: auto;
  grid-template-areas: "video texto" "video texto";
}
.index .marcamessi .video {
  grid-area: "video";
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index .marcamessi iframe {
  width: 70%;
  height: 100%;
  justify-content: center;
}
.index .card {
  background-color: #000000;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  grid-template-areas: "imagen1 imagen2" "imagen3 imagen4";
}
.index .card .card-img-top {
  width: 100%;
  height: 100%;
  object-position: cover;
}
.index .card .card1 {
  color: whitesmoke;
  grid-area: "imagen1";
  border: solid;
  border-color: rgba(0, 15, 46, 0.753);
  border-radius: 25px;
}
.index .card .card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.index .card .card1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 150%;
}
.index .card .card2 {
  color: whitesmoke;
  grid-area: "imagen2";
  border: solid;
  border-color: rgba(0, 15, 46, 0.753);
  border-radius: 25px;
}
.index .card .card3 {
  color: whitesmoke;
  grid-area: "imagen3";
  border: solid;
  border-color: rgba(0, 15, 46, 0.753);
  border-radius: 25px;
}
.index .card .card4 {
  color: whitesmoke;
  grid-area: "imagen4";
  border: solid;
  border-color: rgba(0, 15, 46, 0.753);
  border-radius: 25px;
  position: relative;
}
.index .subcripcion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}
.index .subcripcion button {
  background-color: #000000;
  color: #eee;
  border: none;
  padding: 10px 0;
  font-size: 10px;
}
.index .subcripcion button:hover {
  font-size: 12px;
  box-shadow: 2px 2px 10px 2px #0c6ba1;
}

.biografia {
  background-color: #000000;
  color: white;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.biografia h2 {
  font-size: 34px;
  font-weight: bold;
  border-bottom: 2px solid white;
  text-align: center;
  width: 50%;
  padding: 5px 0;
  color: rgba(32, 32, 177, 0.993);
}
.biografia h3 {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid rgb(70, 70, 70);
  text-align: start;
  width: 50%;
  padding: 2px 10px;
  color: rgb(150, 150, 150);
}
.biografia .foto-inf {
  width: 35%;
  height: 45%;
  object-fit: cover;
}
.biografia .imagenes-bcn {
  width: 25%;
  height: 15%;
  object-fit: cover;
}
.biografia .imagenes-sub20 {
  width: 15%;
  height: 15%;
  object-fit: cover;
}
.biografia .imagen-mundial2014 {
  width: 15%;
  height: 15%;
  object-fit: cover;
}
.biografia .imagen-mundial2022 {
  object-fit: cover;
  left: 20%;
  position: relative;
  padding: 10px;
}

.contacto {
  background-color: rgba(193, 194, 196, 0.418);
  border-bottom: 10px solid white;
  border-top: 10px solid white;
  width: 100%;
  height: 100%;
}
.contacto img {
  width: 100%;
  height: 20%;
  object-fit: cover;
  padding: 10px;
}

.col input {
  background-color: lightslategrey;
  font-size: 20px;
  width: 50%;
  align-items: center;
  gap: 8px;
  padding: 10px 10px;
  height: 100%;
}

.form-control {
  background-color: lightslategrey;
  font-size: 20px;
  width: 50%;
  gap: 8px;
  padding: 10px 10px;
  height: 100%;
}

.btn {
  background-color: white;
  color: #000000;
  border-radius: 5px;
  border: 2px solid black;
}

.boton-enviar {
  width: 20%;
  padding: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.7s;
}
.boton-enviar:hover {
  background-color: black;
  color: white;
  font-size: 20px;
}

.galeria {
  background-color: #000000;
}
.galeria .carousel .slide {
  width: 75%;
  height: 70%;
}
.galeria .img {
  width: 100%;
  height: 60%;
}
.galeria .carousel-inner {
  position: relative;
  left: 25%;
  width: 50%;
  padding-top: 40px;
}
.galeria .carousel-inner .img {
  width: 100%;
  height: 60%;
}
.galeria .titulogaleria h2 {
  font-size: 30px;
  color: #eee;
  font-weight: bold;
  font-style: oblique;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid white;
}
.galeria .grilla2 {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  grid-template-areas: "video1 video2" "video3 video4";
}
.galeria .video1 {
  grid-area: "video1";
  width: 100%;
  height: 300px;
  padding: 5px;
}
.galeria .video2 {
  grid-area: "video2";
  width: 100%;
  height: 300px;
  padding: 5px;
}
.galeria .video3 {
  grid-area: "video3";
  width: 100%;
  height: 300px;
  padding: 5px;
}
.galeria .video4 {
  grid-area: "video4";
  width: 100%;
  height: 300px;
  padding: 5px;
}

.titulo-estadistica {
  border-bottom: 2px solid white;
  width: 100%;
  background-color: lightslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  border-top: 10px solid white;
  font-weight: bold;
}

.progreso {
  padding: 10px 2px;
  height: 100%;
  width: 100%;
  border-radius: 0%;
  background-color: #505364;
}
.progreso .barra-goles {
  color: white;
  border-radius: 10px;
  background-color: rgba(10, 16, 107, 0.6705882353);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.progreso .barra-asistencias {
  color: white;
  border-radius: 10px;
  background-color: rgba(4, 97, 236, 0.5882352941);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.progreso .barra-partidos {
  color: white;
  border-radius: 10px;
  background-color: rgba(73, 124, 235, 0.6588235294);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.progreso .barra-total {
  color: white;
  border-radius: 10px;
  background-color: rgba(134, 187, 247, 0.631372549);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 900px) {
  .index1 {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: " imagen" "texto";
  }
  .titulo {
    font-size: 24px;
  }
  .imagenindex {
    position: relative;
    left: 15%;
    width: 20%;
    height: 100%;
    border-radius: 40px;
  }
  .textoinicio {
    font-size: 14px;
  }
  .marcamessi {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "video" "texto";
  }
  .videomarca {
    width: 20%;
    height: 100%;
  }
  .btn {
    width: 60%;
    font-size: 14px;
  }
}
@media only screen and (max-width: 650px) {
  .videomarca {
    width: 60%;
    height: 100%;
  }
  .titulo {
    font-size: 18px;
  }
  .textoinicio {
    font-size: 12px;
  }
  .imagenindex {
    width: 35%;
    height: 100%;
    border-radius: 40px;
  }
  .btn {
    width: 70%;
    font-size: 12px;
  }
}
@media only screen and (max-width: 325px) {
  .videomarca {
    width: 100%;
    height: 100%;
  }
  .imagenindex {
    width: 50%;
    height: 100%;
    border-radius: 40px;
  }
  .btn {
    width: 100%;
    font-size: 12px;
  }
}
/* MEDIA QUERIES INDEX */
@media only screen and (max-width: 800px) {
  .main-biografia {
    font-size: 16px;
  }
  .titulos {
    font-size: 28px;
    width: 50%;
  }
  .subtitulos {
    font-size: 20px;
  }
  .foto-inf {
    width: 40%;
  }
  .imagenes-sub20 {
    width: 25%;
  }
  .imagen-mundial2014 {
    width: 25%;
  }
  .imagen-mundial2022 {
    width: 70%;
    left: 0%;
  }
}
@media only screen and (max-width: 450px) {
  .main-biografia {
    font-size: 12px;
  }
  .titulos {
    font-size: 20px;
    width: 100%;
  }
  .subtitulos {
    font-size: 16px;
    width: 75%;
  }
  .foto-inf {
    width: 100%;
  }
  .imagenes-bcn {
    width: 100%;
  }
  .imagenes-sub20 {
    width: 100%;
  }
  .imagen-mundial2014 {
    width: 100%;
  }
  .imagen-mundial2022 {
    width: 100%;
    left: 0%;
  }
}
/* MEDIA QUERIES ESTADISTICAS */
@media only screen and (max-width: 350px) {
  .titulo-estadistica {
    font-size: 16px;
  }
  .progress-bar1 {
    font-size: 10px;
  }
  .progress-bar2 {
    font-size: 10px;
  }
  .progress-bar3 {
    font-size: 10px;
  }
  .progress-bar4 {
    font-size: 10px;
  }
}
/* MEDIA QUERIES GALERIA */
@media only screen and (max-width: 750px) {
  .carousel .slide {
    width: 100%;
    height: 100%;
  }
  .carousel-inner {
    left: 5%;
    width: 80%;
    padding: 20px;
  }
  .titulogaleria h2 {
    font-size: 20px;
  }
  .grilla2 iframe {
    width: 60%;
    position: relative;
    left: 15%;
    height: 300px;
    padding: 5px;
  }
  .grilla2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas: "video1" "video2" "video3" "video4";
  }
}
@media only screen and (max-width: 350px) {
  .carousel-inner {
    left: 0%;
    width: 100%;
    padding: 20px;
  }
  .titulogaleria h2 {
    font-size: 16px;
  }
  .grilla2 iframe {
    width: 100%;
    position: relative;
    left: 0%;
    height: 300px;
    padding: 5px;
  }
  .grilla2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas: "video1" "video2" "video3" "video4";
  }
}
/* MEDIA QUERIES CONTACTO */
@media only screen and (max-width: 750px) {
  .col input {
    font-size: 18px;
    width: 70%;
  }
  .form-control {
    font-size: 18px;
    width: 70%;
  }
  .boton-enviar {
    width: 25%;
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .col input {
    font-size: 14px;
    width: 100%;
  }
  .form-control {
    font-size: 14px;
    width: 100%;
  }
  .boton-enviar {
    width: 45%;
    font-size: 14px;
  }
}
/* MEDIA QUERIES FOOTER */
@media only screen and (max-width: 1024px) {
  .footer {
    background-color: rgba(0, 0, 0, 0.3411764706);
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration-style: none;
    padding: 10px;
    text-decoration: none;
    text-decoration-style: none;
  }
  .redes {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }
  .redes1 {
    width: 30%;
    height: 55%;
    align-items: center;
    border-radius: 100%;
  }
  .redes a {
    object-fit: cover;
  }
}
@media only screen and (max-width: 550px) {
  .footer {
    text-align: center;
    justify-content: start;
  }
  .redes1 {
    width: 45%;
  }
}
@media only screen and (max-width: 400px) {
  .footer {
    display: list-item;
    flex-direction: column;
    justify-content: center;
  }
  .redes {
    display: contents;
    text-align: center;
  }
  .redes1 {
    width: 30%;
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
