* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
}

main {
  height: 80vh;
}

/* VARIABLES MAIN */
.foto-info, .biografia .imagen-mundial2014, .biografia .imagenes-sub20, .biografia .imagenes-bcn, .biografia .foto-inf {
  height: 15%;
  object-fit: cover;
}

.navbar {
  padding: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.navbar .offcanvas {
  --bs-offcanvas-transition: transform 0.0s;
  align-items: center;
  --bs-offcanvas-title-line-height: 0;
}
.navbar .logo {
  width: 100px;
  height: 100px;
  border-radius: 2px;
  border: 2px solid black;
}
.navbar ul.pages {
  display: flex;
  text-decoration-style: none;
  list-style-type: none;
  background-color: black;
}
.navbar ul.pages a {
  padding: 0px 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
  background-image: linear-gradient(orangered, rgba(211, 64, 10, 0.808));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2%;
  transition: 0.4s;
}
.navbar ul.pages a:hover {
  background-image: linear-gradient(orangered, rgba(211, 64, 10, 0.808));
  background-size: 100% 2px;
  font-size: 20px;
}

div {
  background-color: black;
  width: 100%;
}

span {
  padding-top: 10px;
}

.titulo-nav {
  font-size: 40px;
  font-weight: bold;
  border-bottom: 5px solid rgb(45, 125, 151);
  color: rgba(0, 77, 116, 0.952);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to left, rgb(103, 165, 194), rgba(255, 253, 253, 0.979));
}

.footer {
  background-color: #a1a1a1;
  width: 100%;
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.footer .logo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid black;
}
.footer .privacidad {
  display: contents;
}
.footer .privacidad span {
  font-size: x-small;
  opacity: 2;
  color: black;
  cursor: pointer;
}
.footer .footer-redes {
  width: 200px;
  height: 60px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer .footer-redes a {
  color: black;
  text-decoration: none;
  opacity: 0.7;
  filter: contrast(100%);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer .footer-redes a:hover {
  width: 220px;
  height: 65px;
  opacity: 1;
  border-bottom: 2px solid orangered;
  filter: contrast(150%);
}

main {
  width: 100%;
  height: 100%;
}
main .index {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 1000px;
  background: url(https://images.daznservices.com/di/library/DAZN_News/61/f3/2022-12-19-wc-final-messi_12xp19w9jljm71bc45ll0legjy.jpg?t=673782245) no-repeat scroll;
  background-size: cover;
  background-attachment: local;
  background-position: center;
  opacity: 0.7;
}
main .index h1 {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.877);
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
}
main h2 {
  background-color: rgb(66, 66, 66);
  color: whitesmoke;
  padding: 5px;
  gap: 5px;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  border-top: 5px solid rgb(45, 125, 151);
  font-weight: bold;
}
main .textoinicio {
  grid-area: "texto";
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: justify;
  padding: 10px 10px;
}
main .marcamessi {
  background-color: #000000;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 45% 53%;
  grid-template-rows: auto;
  grid-template-areas: "video texto" "video texto";
}
main .marcamessi .video {
  grid-area: "video";
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .marcamessi iframe {
  width: 70%;
  height: 100%;
  justify-content: center;
}
main .card {
  background-color: #000000;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  grid-template-areas: "imagen1 imagen2" "imagen3 imagen4";
}
main .card .card-img-top {
  width: 100%;
  height: 100%;
  object-position: cover;
}
main .card .card1 {
  color: whitesmoke;
  grid-area: "imagen1";
  border: solid;
  border-color: rgba(0, 15, 46, 0.753);
  border-radius: 25px;
  filter: grayscale(100%);
}
main .card .card1:hover {
  filter: grayscale(0%);
}
main .card .card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .card .card1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 150%;
}
main .card .card2 {
  color: whitesmoke;
  grid-area: "imagen2";
  border: solid;
  border-color: rgba(0, 15, 46, 0.753);
  border-radius: 25px;
  filter: grayscale(100%);
}
main .card .card2:hover {
  filter: grayscale(0%);
}
main .card .card3 {
  color: whitesmoke;
  grid-area: "imagen3";
  border: solid;
  border-color: rgba(0, 15, 46, 0.753);
  border-radius: 25px;
  filter: grayscale(100%);
}
main .card .card3:hover {
  filter: grayscale(0%);
}
main .card .card4 {
  color: whitesmoke;
  grid-area: "imagen4";
  border: solid;
  border-color: rgba(0, 15, 46, 0.753);
  border-radius: 25px;
  position: relative;
  filter: grayscale(100%);
}
main .card .card4:hover {
  filter: grayscale(0%);
}
main .subcripcion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}
main .subcripcion button {
  background-color: #000000;
  color: #eee;
  border: none;
  padding: 10px 0;
  font-size: 10px;
}
main .subcripcion button:hover {
  font-size: 12px;
  color: orangered;
  box-shadow: 2px 2px 10px 2px rgba(80, 80, 79, 0.753);
}

.biografia {
  background-color: #000000;
  width: 100%;
  height: 100%;
  color: rgb(107, 146, 173);
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 5px;
}
.biografia .portada-bigrafia {
  background: url(http://www.fondox.net/wallpapers/resoluciones/13/lionel-messi-con-el-barcelona_1920x1080_1105.jpg) no-repeat scroll;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-attachment: local;
  background-position: center;
}
.biografia .portada-bigrafia span {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  width: 20%;
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}
.biografia p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.biografia .infancia {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  grid-template-areas: "imagen" "texto";
}
.biografia .infancia .infancia-messi {
  grid-area: "texto";
}
.biografia .infancia .imagenes-inf {
  grid-area: "imagen";
}
.biografia .texto-oculto {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 5px;
}
.biografia .texto-oculto summary {
  font-size: small;
}
.biografia .titulo1 {
  background-color: rgba(31, 75, 170, 0.822);
  color: white;
  width: 15%;
  padding: 10px;
  position: relative;
  left: 20px;
  top: 48px;
}
.biografia .titulo2 {
  background-color: white;
  color: orangered;
  width: 18%;
  padding: 10px;
  margin: 35px;
}
.biografia h2 {
  font-size: 34px;
  font-weight: bold;
  border-bottom: 2px solid white;
  text-align: center;
  width: 50%;
  padding: 5px 0;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.466);
}
.biografia h3 {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid rgba(146, 146, 146, 0.938);
  text-align: start;
  width: 50%;
  padding: 2px 10px;
  color: rgba(146, 146, 146, 0.938);
}
.biografia .foto-inf {
  height: auto;
  width: 100%;
  padding: 40px;
}
.biografia .imagenes-bcn {
  width: 50%;
  height: auto;
  position: relative;
  left: 20%;
  object-fit: cover;
  padding: 10px 60px;
}
.biografia .imagenes-sub20 {
  width: 15%;
}
.biografia .imagen-mundial2014 {
  width: 15%;
}
.biografia .imagen-mundial2022 {
  object-fit: cover;
  left: 20%;
  position: relative;
  padding: 10px;
}

.contacto {
  background-color: rgba(211, 211, 211, 0.678);
  border-bottom: 10px solid white;
  border-top: 10px solid white;
  width: 100%;
  height: 100%;
}
.contacto div {
  background-color: rgba(211, 211, 211, 0.678);
}
.contacto .contactus {
  width: 100%;
  height: 1000px;
  background: url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/7HU3AVQHEVC7ZGSVKTYBH3DJCM.jpg) no-repeat scroll;
  background-position: center;
  background-size: cover;
  background-attachment: local;
  background-position: center;
  opacity: 0.7;
}
.contacto .contactus .formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.contacto .contactus h3 {
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.contacto .tituloscontacto {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.contacto img {
  width: 100%;
  height: 20%;
  object-fit: cover;
  padding: 10px;
}

form.col {
  background-color: rgba(211, 211, 211, 0.678);
}

.col input {
  background-color: lightslategrey;
  font-size: 20px;
  width: 35%;
  align-items: center;
  gap: 8px;
  padding: 10px 10px;
  height: 100%;
}

.form-control {
  background-color: lightslategrey;
  font-size: 20px;
  width: 35%;
  gap: 8px;
  padding: 10px 10px;
  height: 100%;
  overflow: none;
  resize: none;
}

.btn {
  color: #000000;
  border-radius: 5px;
  border: 2px solid black;
}

.boton-enviar {
  width: 25%;
  background-color: rgba(211, 211, 211, 0.678);
  padding: 4px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.7s;
}
.boton-enviar:hover {
  background-color: black;
  color: white;
  font-size: 22px;
}

.galeria {
  width: 100%;
  height: 100%;
  background-color: rgba(83, 83, 83, 0.753);
}
.galeria .titulogaleria {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: antiquewhite;
}
.galeria .galeriaarg {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}
.galeria .galeriaarg img {
  width: 150px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
  margin: 0 -40px;
  filter: grayscale(100%);
  transition: 0.8s;
}
.galeria .galeriaarg img:hover {
  width: 180px;
  height: 330px;
  filter: grayscale(0%);
  margin: 0px 40px;
}

main section.total {
  background: url(https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-09/-f5c8e043-2ddd-4e8b-9548-362adf66795f.png?itok=yasROSj_) no-repeat scroll;
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-attachment: local;
  background-position: center;
  opacity: 0.8;
}
main section.total div {
  background: none;
}
main section.psg {
  background: url(https://image.ondacero.es/clipping/cmsimages02/2021/08/11/2AA7AA13-A220-4C3A-A12B-1676EAEADFB0/98.jpg?crop=1600,900,x0,y0&width=1900&height=1069&optimize=high&format=webply) no-repeat scroll;
  width: 100%;
  height: 900px;
  background-size: cover;
  background-attachment: local;
  background-position: center;
  opacity: 0.8;
}
main section.psg div {
  background: none;
}
main section.barcelona {
  background: url(https://okdiario.com/img/2021/07/18/messi-barcelona-1.jpg) no-repeat scroll;
  width: 100%;
  height: 900px;
  background-size: cover;
  background-attachment: local;
  background-position: center;
  opacity: 0.8;
}
main section.barcelona div {
  background: none;
}
main section.arg {
  background: url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt2073cba28178b762/63fcf5bc1c9db30a5b4f33a0/GettyImages-1451378029.jpg?auto=webp&format=pjpg&width=3840&quality=60) no-repeat scroll;
  width: 100%;
  height: 900px;
  background-size: cover;
  background-attachment: local;
  background-position: center;
  opacity: 0.8;
}
main section.arg div {
  background: none;
}
main .progreso {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 2px;
  height: 100%;
  width: 100%;
  border-radius: 0%;
}
main .progreso .barra-goles-total {
  height: 45px;
  color: white;
  background-color: rgba(21, 92, 197, 0.6980392157);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-asistencias-total {
  height: 45px;
  color: white;
  background-color: rgba(21, 92, 197, 0.6980392157);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-partidos-total {
  height: 45px;
  color: white;
  background-color: rgba(21, 92, 197, 0.6980392157);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-titulos-total {
  height: 45px;
  color: white;
  background-color: rgba(21, 92, 197, 0.6980392157);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 2px;
  height: 100%;
  width: 100%;
  border-radius: 0%;
}
main .progreso .barra-goles-psg {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.596), rgba(255, 255, 255, 0.781), rgba(0, 0, 255, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-asistencias-psg {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.596), rgba(255, 255, 255, 0.781), rgba(0, 0, 255, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-partidos-psg {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.596), rgba(255, 255, 255, 0.781), rgba(0, 0, 255, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-titulos-psg {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.596), rgba(255, 255, 255, 0.781), rgba(0, 0, 255, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 2px;
  height: 100%;
  width: 100%;
  border-radius: 0%;
}
main .progreso .barra-goles-bcn {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.596), rgba(0, 0, 255, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-asistencias-bcn {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.596), rgba(0, 0, 255, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-partidos-bcn {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.596), rgba(0, 0, 255, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-titulos-bcn {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.596), rgba(0, 0, 255, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 2px;
  height: 100%;
  width: 100%;
  border-radius: 0%;
}
main .progreso .barra-goles-arg {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.699), rgba(8, 157, 216, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-asistencias-arg {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.699), rgba(8, 157, 216, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-partidos-arg {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.699), rgba(8, 157, 216, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
main .progreso .barra-titulos-arg {
  height: 45px;
  color: white;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.699), rgba(8, 157, 216, 0.685));
  transition: 0.4s;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

/* MEDIA QUERIES INDEX */
@media only screen and (max-width: 820px) {
  main .index {
    height: 800px;
  }
  main .index .tex-welcome {
    font-size: 30px;
  }
  main h2 {
    font-size: 24px;
  }
  main .textoinicio {
    font-size: 14px;
  }
  main .marcamessi {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "texto" "video";
  }
  main .marcamessi .video {
    grid-area: "video";
  }
  main .marcamessi iframe {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  main .index {
    height: 600px;
  }
  main .index .tex-welcome {
    font-size: 24px;
  }
  main .marcamessi iframe {
    width: 70%;
  }
  main .card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "imagen1" "imagen2" "imagen3" "imagen4";
  }
}
@media only screen and (max-width: 435px) {
  main .index {
    height: 400px;
  }
  main .index .tex-welcome {
    font-size: 24px;
  }
}
@media only screen and (max-width: 350px) {
  main .index .tex-welcome {
    font-size: 18px;
  }
  main .marcamessi iframe {
    width: 100%;
  }
  main .subcripcion button {
    width: 100%;
  }
}
/* MEDIA QUERIES BIOGRAFIA*/
@media only screen and (max-width: 950px) {
  .biografia .portada-bigrafia {
    height: 700px;
  }
  .biografia .portada-bigrafia span {
    font-size: 24px;
  }
}
@media only screen and (max-width: 750px) {
  .biografia {
    font-size: 14px;
  }
  .biografia .portada-bigrafia {
    height: 500px;
  }
  .biografia .portada-bigrafia span {
    font-size: 20px;
  }
  .biografia h2 {
    font-size: 24px;
    width: 70%;
  }
  .biografia h3 {
    font-size: 24px;
    width: 70%;
  }
  .biografia p {
    font-size: 16px;
  }
  .biografia .infancia {
    display: block;
  }
  .biografia .foto-inf {
    width: 80%;
  }
  .biografia .imagenes-bcn {
    width: 80%;
    position: relative;
    left: 0%;
    padding: 10px;
  }
  .biografia .imagenes-sub20 {
    width: 25%;
  }
  .biografia .imagen-mundial2014 {
    width: 25%;
  }
  .biografia .imagen-mundial2022 {
    left: 5%;
    width: 85%;
    height: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .biografia {
    font-size: 14px;
  }
  .biografia .portada-bigrafia {
    height: 450px;
  }
  .biografia .portada-bigrafia span {
    width: 25%;
    gap: 10px;
    font-size: 18px;
  }
  .biografia h2 {
    font-size: 22px;
    width: 70%;
  }
  .biografia h3 {
    font-size: 22px;
    width: 70%;
  }
  .biografia p {
    font-size: 16px;
  }
  .biografia .infancia {
    display: block;
  }
  .biografia .foto-inf {
    width: 80%;
  }
  .biografia .imagenes-bcn {
    width: 80%;
    position: relative;
    left: 0%;
    padding: 10px;
  }
  .biografia .imagenes-sub20 {
    width: 25%;
  }
  .biografia .imagen-mundial2014 {
    width: 25%;
  }
  .biografia .imagen-mundial2022 {
    left: 5%;
    width: 85%;
    height: 85%;
  }
}
@media only screen and (max-width: 450px) {
  .biografia {
    font-size: 14px;
  }
  .biografia .portada-bigrafia {
    height: 250px;
  }
  .biografia .portada-bigrafia span {
    width: 0%;
    gap: 0px;
    font-size: 0px;
    background-color: transparent;
  }
  .biografia h2 {
    font-size: 18px;
    width: 100%;
  }
  .biografia h3 {
    font-size: 18px;
    width: 100%;
  }
  .biografia p {
    font-size: 14px;
  }
  .biografia .infancia {
    display: block;
  }
  .biografia .foto-inf {
    width: 100%;
  }
  .biografia .imagenes-bcn {
    width: 100%;
    position: relative;
    left: 0%;
    padding: 10px;
  }
  .biografia .imagenes-sub20 {
    width: 25%;
  }
  .biografia .imagen-mundial2014 {
    width: 25%;
  }
  .biografia .imagen-mundial2022 {
    left: 5%;
    width: 85%;
    height: 85%;
  }
}
/* MEDIA QUERIES CONTACTO*/
@media only screen and (max-width: 350px) {
  .contacto .contactus {
    width: 100%;
    height: 300px;
  }
  .contacto .contactus h3 {
    font-size: 30px;
  }
  .col input {
    width: 100%;
    gap: 8px;
    padding: 3px 3px;
  }
  .form-control {
    width: 100%;
    gap: 4px;
    padding: 3px 3px;
  }
  .boton-enviar {
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .contacto .contactus {
    width: 100%;
    height: 500px;
  }
  .contacto .contactus h3 {
    font-size: 34px;
  }
  .col input {
    width: 80%;
    gap: 8px;
    padding: 6px 6px;
  }
  .form-control {
    width: 80%;
    gap: 8px;
    padding: 6px 6px;
  }
  .boton-enviar {
    width: 80%;
  }
}
@media only screen and (max-width: 850px) {
  .contacto .contactus {
    width: 100%;
    height: 400px;
  }
  .contacto .contactus h3 {
    font-size: 30px;
  }
  .col input {
    width: 100%;
    gap: 8px;
    padding: 6px 6px;
  }
  .form-control {
    width: 100%;
    gap: 8px;
    padding: 6px 6px;
  }
  .boton-enviar {
    width: 100%;
  }
}
/* MEDIA QUERIES GALERIA*/
@media only screen and (max-width: 960px) {
  .galeria .titulogaleria {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: antiquewhite;
  }
  .galeria .galeriaarg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
  }
  .galeria .galeriaarg img {
    width: 120px;
    height: 200px;
    object-fit: cover;
    border: 2px solid black;
    margin: 0 -30px;
    filter: grayscale(100%);
    transition: 0.8s;
  }
  .galeria .galeriaarg img:hover {
    width: 140px;
    height: 240px;
    margin: 0px 30px;
  }
}
@media only screen and (max-width: 765px) {
  .galeria .titulogaleria {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
  }
  .galeria .galeriaarg img {
    width: 100px;
    height: 180px;
    object-fit: cover;
    border: 2px solid black;
    margin: 0 px;
    filter: grayscale(100%);
    transition: 0.8s;
  }
  .galeria .galeriaarg img:hover {
    width: 120px;
    height: 200px;
    margin: 0px 20px;
  }
}
@media only screen and (max-width: 500px) {
  .galeria .galeriaarg {
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-area: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9" "img10" "img11" "img12" "img13" "img14" "img15" "img16" "img17" "img18" "img19" "img20" "img21" "img22" "img23" "img24";
  }
  .galeria .galeriaarg img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin: 5px;
    filter: grayscale(100%);
    transition: 0;
  }
  .galeria .galeriaarg img .img1 {
    grid-area: "img1";
  }
  .galeria .galeriaarg img .img2 {
    grid-area: "img2";
  }
  .galeria .galeriaarg img .img3 {
    grid-area: "img3";
  }
  .galeria .galeriaarg img .img4 {
    grid-area: "img4";
  }
  .galeria .galeriaarg img .img5 {
    grid-area: "img5";
  }
  .galeria .galeriaarg img .img6 {
    grid-area: "img6";
  }
  .galeria .galeriaarg img .img7 {
    grid-area: "img7";
  }
  .galeria .galeriaarg img .img8 {
    grid-area: "img8";
  }
  .galeria .galeriaarg img .img0 {
    grid-area: "img9";
  }
  .galeria .galeriaarg img .img10 {
    grid-area: "img10";
  }
  .galeria .galeriaarg img .img11 {
    grid-area: "img11";
  }
  .galeria .galeriaarg img .img12 {
    grid-area: "img12";
  }
  .galeria .galeriaarg img .img13 {
    grid-area: "img13";
  }
  .galeria .galeriaarg img .img14 {
    grid-area: "img14";
  }
  .galeria .galeriaarg img .img15 {
    grid-area: "img15";
  }
  .galeria .galeriaarg img .img16 {
    grid-area: "img16";
  }
  .galeria .galeriaarg img .img17 {
    grid-area: "img17";
  }
  .galeria .galeriaarg img .img18 {
    grid-area: "img18";
  }
  .galeria .galeriaarg img .img19 {
    grid-area: "img19";
  }
  .galeria .galeriaarg img .img20 {
    grid-area: "img20";
  }
  .galeria .galeriaarg img .img21 {
    grid-area: "img21";
  }
  .galeria .galeriaarg img .img22 {
    grid-area: "img22";
  }
  .galeria .galeriaarg img .img23 {
    grid-area: "img23";
  }
  .galeria .galeriaarg img .img24 {
    grid-area: "img24";
  }
  .galeria .galeriaarg img:hover {
    width: 220px;
    height: 330px;
    filter: grayscale(0%);
    margin: 0px;
  }
}
/* MEDIA QUERIES ESTADISTICAS*/
@media only screen and (max-width: 950px) {
  main section.total {
    width: auto;
    height: 600px;
  }
  main section.psg {
    height: 600px;
  }
  main section.barcelona {
    height: 600px;
  }
  main section.arg {
    height: 600px;
  }
  main .progreso {
    padding: 30px 2px;
  }
  main .progreso .barra-goles-total {
    height: 35px;
    font-size: 20px;
  }
  main .progreso .barra-asistencias-total {
    height: 35px;
    font-size: 20px;
  }
  main .progreso .barra-partidos-total {
    height: 35px;
    font-size: 20px;
  }
  main .progreso .barra-titulos-total {
    height: 35px;
    font-size: 20px;
  }
  main .progreso {
    padding: 40px 2px;
  }
  main .progreso .barra-goles-bcn {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-asistencias-bcn {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-partidos-bcn {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-titulos-bcn {
    height: 35px;
    font-size: 18px;
  }
  main .progreso {
    padding: 30px 2px;
  }
  main .progreso .barra-goles-psg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-asistencias-psg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-partidos-psg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-titulos-psg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso {
    padding: 30px 2px;
  }
  main .progreso .barra-goles-arg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-asistencias-arg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-partidos-arg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-titulos-arg {
    height: 35px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 650px) {
  main section.total {
    width: auto;
    height: 500px;
    opacity: 0.8;
  }
  main section.psg {
    height: 500px;
    opacity: 0.8;
  }
  main section.barcelona {
    height: 500px;
    opacity: 0.8;
  }
  main section.arg {
    height: 500px;
    opacity: 0.8;
  }
  main .progreso {
    padding: 30px 2px;
  }
  main .progreso .barra-goles-total {
    height: 35px;
    font-size: 20px;
  }
  main .progreso .barra-asistencias-total {
    height: 35px;
    font-size: 20px;
  }
  main .progreso .barra-partidos-total {
    height: 35px;
    font-size: 20px;
  }
  main .progreso .barra-titulos-total {
    height: 35px;
    font-size: 20px;
  }
  main .progreso {
    padding: 40px 2px;
  }
  main .progreso .barra-goles-bcn {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-asistencias-bcn {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-partidos-bcn {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-titulos-bcn {
    height: 35px;
    font-size: 18px;
  }
  main .progreso {
    padding: 30px 2px;
  }
  main .progreso .barra-goles-psg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-asistencias-psg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-partidos-psg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-titulos-psg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso {
    padding: 30px 2px;
  }
  main .progreso .barra-goles-arg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-asistencias-arg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-partidos-arg {
    height: 35px;
    font-size: 18px;
  }
  main .progreso .barra-titulos-arg {
    height: 35px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 450px) {
  main section.total {
    height: 320px;
    opacity: 1;
  }
  main section.psg {
    height: 300px;
    opacity: 1;
  }
  main section.barcelona {
    height: 340px;
    opacity: 1;
  }
  main section.arg {
    height: 320px;
    opacity: 1;
  }
  main .progreso {
    padding: 15px 2px;
  }
  main .progreso .barra-goles-total {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-asistencias-total {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-partidos-total {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-titulos-total {
    height: 18px;
    font-size: 11px;
  }
  main .progreso {
    padding: 15px 2px;
  }
  main .progreso .barra-goles-bcn {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-asistencias-bcn {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-partidos-bcn {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-titulos-bcn {
    height: 18px;
    font-size: 11px;
  }
  main .progreso {
    padding: 15px 2px;
  }
  main .progreso .barra-goles-psg {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-asistencias-psg {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-partidos-psg {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-titulos-psg {
    height: 18px;
    font-size: 11px;
  }
  main .progreso {
    padding: 15px 2px;
  }
  main .progreso .barra-goles-arg {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-asistencias-arg {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-partidos-arg {
    height: 18px;
    font-size: 11px;
  }
  main .progreso .barra-titulos-arg {
    height: 18px;
    font-size: 11px;
  }
}
/* MEDIA QUERIES FOOTER*/
@media only screen and (max-width: 775px) {
  .footer {
    background-color: #a1a1a1;
    width: 100%;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
  .footer .logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid black;
  }
  .footer .privacidad {
    display: contents;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer .privacidad span {
    font-size: x-small;
    opacity: 2;
    color: black;
    cursor: pointer;
  }
  .footer .footer-redes {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 530px) {
  .footer {
    background-color: #a1a1a1;
    width: 100%;
    height: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
  .footer .logo {
    width: 80px;
    height: 80px;
  }
  .footer .privacidad {
    gap: 5px;
  }
  .footer .privacidad span {
    font-size: x-small;
  }
  .footer .footer-redes {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-redes a:hover {
    width: 101%;
    height: 101%;
    opacity: 1;
    border-bottom: 1px solid orangered;
    filter: contrast(150%);
  }
}
/* MEDIA QUERIES NAVBAR*/
@media only screen and (max-width: 1000px) {
  nav ul .page li {
    padding: 4px;
  }
  nav ul .page a {
    font-size: 18px;
  }
  nav ul .page a:hover {
    font-size: 20px;
  }
}
@media only screen and (max-width: 990px) {
  nav div .navbar-toggler {
    background-color: rgba(10, 148, 212, 0.808);
    color: rgba(255, 255, 255, 0.911);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  nav div .navbar-toggler .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
  nav div .offcanvas-header {
    width: 100%;
    color: white;
  }
  nav div .offcanvas-body {
    width: 100%;
    height: 100%;
  }
  nav span {
    font-size: 34px;
  }
  nav ul.pages {
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 20px;
  }
  nav ul.pages li {
    padding: 5px;
  }
  nav ul.pages a {
    font-size: 18px;
  }
  nav ul.pages a:hover {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  nav div .offcanvas-header {
    width: 100%;
  }
  nav div .offcanvas-body {
    width: 100%;
  }
  nav span {
    font-size: 34px;
  }
  nav ul.pages {
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 20px;
  }
  nav ul.pages li {
    padding: 5px;
  }
  nav ul.pages a {
    font-size: 18px;
  }
  nav ul.pages a:hover {
    font-size: 20px;
  }
}
@media only screen and (max-width: 490px) {
  nav div .offcanvas-header {
    width: 100%;
  }
  nav div .offcanvas-body {
    width: 100%;
  }
  nav span {
    font-size: 34px;
  }
  nav ul.pages {
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 20px;
  }
  nav ul.pages li {
    padding: 5px;
  }
  nav ul.pages a {
    font-size: 18px;
  }
  nav ul.pages a:hover {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
