.contacto{background-color:$SecondaryColor;
    border-bottom: 10px solid white;
    border-top: 10px solid white;} 

     .col input { background-color: lightslategray;
        font-size: 20px; 
        width: 55%; 
        gap: 8px; 
        padding: 10px 10px;
        height: 100%;}
        
        .form-control { background-color: lightslategray;
            font-size: 20px; 
            width: 55%; 
            gap: 8px;
            padding: 10px 10px;
            height: 100%;}
        
        
        .btn {
        background-color: white;
        color:$SecondaryColor;
        border-radius: 5px;
        border: 2px solid black;}

        
            .boton-enviar{width: 15%;
                padding: 4px;
                font-size: 16px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            transition: 0.5s;

        &:hover {background-color :black;
             color :white;
            font-size: 20px;}
            
            } 


        
        
    
    
    