


.contacto{background-color:rgba(193, 194, 196, 0.418);
    border-bottom: 10px solid white;
    border-top: 10px solid white;
width: 100%;
height: 100%;

.contactus {width: 100%;
    height: 1000px;
    background: url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/7HU3AVQHEVC7ZGSVKTYBH3DJCM.jpg) no-repeat scroll;
    background-position: center;
    background-size: cover;
    background-attachment:local;
    background-position: center;
    opacity: 0.7;
    
    .formulario {justify-content: center;
        display: flex;
        flex-direction: column;}

h3{font-size: 40px;
color:black;
display: flex;
justify-content: center;
text-align: center ;
align-items: center;
font-family: $MainFont;}}

.tituloscontacto{font-size: 16px;
font-family: $MainFont;}

 img{width: 100%;
height: 20%;
object-fit: cover;
padding: 10px;}} 

     .col input { background-color: $threeColor;
        font-size: 20px; 
        width: 30%; 
        align-items: center;
        gap: 8px; 
        padding: 10px 10px;
        height: 100%;}
        
        .form-control { background-color: $threeColor;
            font-size: 20px; 
            width: 30%; 
            gap: 8px;
            padding: 10px 10px;
            height: 100%;}
        
        
        .btn {
        background-color: white;
        color:$SecondaryColor;
        border-radius: 5px;
        border: 2px solid black;}

        
            .boton-enviar{width: 20%;
                padding: 4px;
                font-size: 16px;
                @include flex (center,center,center);
            transition: 0.7s;

        &:hover {background-color :black;
             color :white;
            font-size: 20px;}
            
            } 


        
        
    
    
    