
.titulo-estadistica{border-bottom: 2px solid white;
width: 100%;
background-color: $threeColor;
@include flex (center,center,center);
font-size: 20px;
color: white;
font-family:$MainFont ;
padding:20px;
border-top: 10px solid white;
font-weight: bold;}    

.progreso {padding:10px 2px; 
    height: 100%;
    width: 100%;
border-radius: 0%;
background-color: #505364; 

 .barra-goles{
    color:white;
border-radius: 10px;
background-color: #0a106bab;
@include flex (center,center,center);
font-size: 14px;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

            
.barra-asistencias{
    color:white;
    border-radius: 10px;
    background-color: #0461ec96;
    @include flex (center,center,center);
    font-size: 14px;
    font-family: $MainFont;}

.barra-partidos{
    color:white;
    border-radius: 10px;
    background-color: #497ceba8;
    @include flex (center,center,center);
    font-size: 14px;
    font-family: $MainFont;}

.barra-total{
    color:white;
    border-radius: 10px;
    background-color: #86bbf7a1;
    @include flex (center,center,center);
    font-size: 14px;
    font-family: $MainFont;}}

