main {
   
 section.total{
    background:url(https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-09/-f5c8e043-2ddd-4e8b-9548-362adf66795f.png?itok=yasROSj_) no-repeat scroll;
        width: 100%;
        height: 1000px;
        background-size: cover;
        background-attachment:local;
        background-position:center;
        opacity: 0.8;
        div{background: none;}}

section.psg{background:url(https://image.ondacero.es/clipping/cmsimages02/2021/08/11/2AA7AA13-A220-4C3A-A12B-1676EAEADFB0/98.jpg?crop=1600,900,x0,y0&width=1900&height=1069&optimize=high&format=webply) no-repeat scroll;
            width: 100%;
        height: 900px;
        background-size: cover;
        background-attachment:local;
        background-position: center;
        opacity: 0.8;
        div{background: none;}}

    section.barcelona{background:url(https://okdiario.com/img/2021/07/18/messi-barcelona-1.jpg) no-repeat scroll;
            width: 100%;
        height: 900px;
        background-size: cover;
        background-attachment:local;
        background-position: center;
        opacity: 0.8;
        div{background: none;}}

section.arg{background:url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt2073cba28178b762/63fcf5bc1c9db30a5b4f33a0/GettyImages-1451378029.jpg?auto=webp&format=pjpg&width=3840&quality=60) no-repeat scroll;
            width: 100%;
        height: 900px;
        background-size: cover;
        background-attachment:local;
        background-position: center;
        opacity: 0.8;
        div{background: none;}}
    

 .progreso {display: flex;
    flex-direction: row-reverse;
    padding:50px 2px;     
     height: 100%;   
       width: 100%; 
       border-radius: 0%;



 .barra-goles-total{height: 45px;
    color:white;
    background-color: #155cc5b2;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }
            
.barra-asistencias-total{
    height: 45px;
    color:white;
    background-color: #155cc5b2;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold;}

.barra-partidos-total{
    height: 45px;
    color:white;
    background-color: #155cc5b2;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold;}

.barra-titulos-total{ height: 45px;
    color:white;
    background-color: #155cc5b2;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold;}}

.progreso {display: flex;
    flex-direction: row-reverse;
    padding:50px 2px;     
     height: 100%;   
       width: 100%; 
       border-radius: 0%;

.barra-goles-psg{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.596),rgba(255, 255, 255, 0.781),rgba(0, 0, 255, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }

.barra-asistencias-psg{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.596),rgba(255, 255, 255, 0.781),rgba(0, 0, 255, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }

.barra-partidos-psg{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.596),rgba(255, 255, 255, 0.781),rgba(0, 0, 255, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }

.barra-titulos-psg{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.596),rgba(255, 255, 255, 0.781),rgba(0, 0, 255, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }}

.progreso {display: flex;
    flex-direction: row-reverse;
    padding:50px 2px;     
     height: 100%;   
       width: 100%; 
       border-radius: 0%;

.barra-goles-bcn{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.596),rgba(0, 0, 255, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }

.barra-asistencias-bcn{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.596),rgba(0, 0, 255, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }

.barra-partidos-bcn{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.596),rgba(0, 0, 255, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }

.barra-titulos-bcn{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.596),rgba(0, 0, 255, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }}

.progreso {display: flex;
    flex-direction: row-reverse;
    padding:50px 2px;     
     height: 100%;   
       width: 100%; 
       border-radius: 0%;

.barra-goles-arg{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.699),rgba(8, 157, 216, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }

.barra-asistencias-arg{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.699),rgba(8, 157, 216, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }

.barra-partidos-arg{height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.699),rgba(8, 157, 216, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }

.barra-titulos-arg{
height: 45px;
    color:white;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.699),rgba(8, 157, 216, 0.685));
    transition: 0.4s;
    font-size: 24px;
    font-family: $MainFont;
font-weight: bold; }}}

 





