.galeria{width: 100%;
height: 100%;
background-color: rgba(83, 83, 83, 0.753);

.titulogaleria {font-size: 30px;
font-family: $MainFont;
text-align: center;
color: antiquewhite;}

.galeriaarg {
    @include flex (center,center,center);
    padding: 20px 0;
  

img {width:150px;
height:300px;
object-fit: cover;
border: 2px solid black;
margin: 0 -40px;
filter: grayscale(100%);
transition: 0.8s;

&:hover{width:180px;
    height:330px;
    filter: grayscale(0%);
    margin: 0px 40px;
}}}}
    
