/* MEDIA QUERIES INDEX */
@media only screen and (max-width: 820px){
    main{
        
        .index { 
            height: 800px;
            
            .tex-welcome{font-size: 30px;}}

            h2 {
            font-size: 24px;}
            
           
        .textoinicio {
       font-size: 14px;}

       .marcamessi{
         grid-template-columns: 100%;      
         grid-template-rows: auto;    
         grid-template-areas: 'texto'                          
                              'video';
   
         .video {  grid-area: 'video';}
                           
        iframe {width: 50%;}}}}

@media only screen and (max-width: 600px){
                main
                    
                    .index { 
                        height: 600px;
                        
                        .tex-welcome{font-size: 24px;}
                        }}

 @media only screen and (max-width: 435px){
     main
                                
     .index { 
              height: 400px;                      
              .tex-welcome{font-size: 24px;}}}