.footer {
   
background-color: $PrimaryColor;
width: 100%;
padding: 10px;
display: flex;
text-align: center;
align-items: center;
justify-content: space-around;

.logo {width: 6em;
    height: 6em; 
border-radius: 10px;
border:2px solid black;}

 .privacidad {
  display: contents;

    span {font-size: x-small;
        opacity: 2;
    color:black;
    cursor: pointer;}}


 
.footer-redes {width: 200px;
height: 60px;
display: flex;
gap: 10px;
justify-content: center;


 a  {color: black;
    text-decoration: none;
    opacity: 0.7;
    filter: contrast(100%);
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;

&:hover {
    width: 220px;
    height: 65px;
    opacity: 1;
border-bottom: 2px solid orangered;
filter: contrast(150%);}}}}

   

        